{#
/**
 * @file
 * Default theme implementation to display an image field with hover effects.
 *
 * Available variables:
 * - url: url to the entity object.
 * - link_attributes: attributes of the link (class, data-hover, etc).
 * - responsive_image: responsive image to render.
 *
 * @see template_preprocess_image_hover_effects_responsive_image_formatter()
 */
#}
{% if url %}
  <a{{link_attributes}} href="{{ url }}">{{ responsive_image }}</a>
{% else %}
  {{ responsive_image }}
{% endif %}
