<section class="slider">
  <div class="container">
    <div class="slider-container">
      <div class="slider-section slider-section-left">
        
      </div>{# slider-section-left #}
      <div class="slider-section slider-section-right"> 
        <div class="slider-right-block">
          
        </div>{# slider-right-block #}
        <div class="slider-right-block">
          
        </div>{# slider-right-block #}
      </div>{# slider-section-right #}
    </div>{# slider-container #}
  </div>{# container #}
</section>