{% if logged_in %}
  <ul class="menu">
    <li><a href="{{ front_page }}user"><i class="bi bi-person"></i> My Account</a></li>
    <li><a href="{{ front_page }}user/logout"><i class="bi bi-box-arrow-in-right"></i> Logout</a></li>
  </ul>   
{% else %}
  <ul class="menu">
    <li><a href="{{ front_page }}user/login"><i class="bi bi-box-arrow-in-right"></i> Login</a></li>
    <li><a href="{{ front_page }}user/register"><i class="bi bi-person"></i> Register</a></li>
  </ul>   
{% endif %}
