.comments {
  margin-top: 2rem;
}
.comments-title i {
  color: var(--color-primary);
}
.single-comment {
  margin-bottom: 1rem;
  box-shadow: 0 0 4px 2px var(--color-border);
}
.comment-header {
  display: flex;
  background-color: var(--light-primary);
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}
.comment-user-picture {
  background-color: #ffffff;
  flex: 0 0 100px;
  height: 100px;
  text-align: center;
  align-self: center;
  border-radius: 6px;
}
.comment-title {
  font-size: 20px;
}
.comment-body {
  background-color: #ffffff;
  padding: 1rem;
}