.footer a {
  color: var(--dark);
}
.footer a:hover {
  color: var(--color-primary);
}
.footer ul,
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer li {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid var(--text-color-light);
}
/* Footer top */
.footer-top {
  background-color: var(--light-primary);
}
.region-footer-top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
.footer-top .block p:last-of-type {
  margin: 0;
}
/* Footer main */
.footer-main {
  background-color: var(--light-secondary);
}
.region-footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem 0;
}
.region-footer .block,
.footer-last-region {
  flex: 1 0 250px;
}
/* Footer bottom */
.region-footer-bottom {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem 0; 
}
.region-footer-bottom .block {
  flex: 0 0 100%;
}
/* Footer last */
.footer-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 1.5rem 0;
}
.footer-last li {
  padding: 0;
  border: 0;
}
.footer-last .social-icons {
  justify-content: end;
}
/* Footer block title */
.footer .block-title,
.sidebar .block-title,
.content-block .block-title {
  font-size: 1.3rem;
  line-height: 1;
  padding-bottom: 0.5rem;
  margin-bottom: 14px;
}