.region-header-top {
  width: 100%;
  margin: 0;
}
.header {
  background-color: var(--light-primary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0 0 0;
}
.header i {
  color: var(--color-primary);
}
/* Header menu */
.header .menu {
  display: flex;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
/* Header top */
.header-top a {
  color: var(--bold-color);
}
.region-header-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.region-header-top p {
  margin: 0;
}
/* Header main */
.header-main,
.header-menu {
  font-family: var(--font-heading);
  font-weight: 500;
}
.header-main a {
  color: var(--bold-volor);   
}
.header-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
/* Header main -> site branding */
.site-brand {
  display: flex;
  align-items: center;
}
.site-brand img {
  display: block;
  max-height: 30px;
  width: auto;
  max-width: unset;
}
.site-name-slogan {
  display: flex;
  flex-direction: column;
}
.site-name {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  line-height: 1.1;
}
.site-name a,
.site-name a:hover {
  color: var(--color-secondary);
}
.site-slogan {
  font-size: 0.9rem;
  line-height: 1;
}
/* Header main -> search */
.header-search form {
  display: flex;
  margin: 0;
  width: 100%;
  border: 2px solid var(--dark);
  border-radius: 4px;
}
.header-search .form-item {
  margin: 0;
}
.header-search input[type="search"] {
  background-color: var(--light-primary);
  font-family: var(--font-text);
  font-weight: 400;
  min-width: 300px;
  border: 0;
}
.header-search input[type="submit"] {
  background-color: var(--dark);
  width: 2rem;
  height: 100%;
  padding: 0;
  border-radius: 0;
}
.header-search input[type="submit"]  {  
  -webkit-mask-image: url(../images/search.svg);
          mask-image: url(../images/search.svg);
          mask-position: center;
  -webkit-mask-size: 1.5rem;
  mask-size: 1.5rem;
  overflow: hidden;
  text-indent: 9999px;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
/* Header main -> header region */
.region-header {
  display: flex;
  gap: 1rem;
}
/* Header main -> header right */
.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* Header main menu */
.header-menu {
  z-index: 2;
}
.mobile-menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.mobile-menu-icon span {
  background-color: var(--color-primary);
  width: 100%;
  height: 2px;
  transform-origin: left;
  transition: all 0.6s ease;
}
.mobile-menu-icon span:nth-child(2) {
  background-color: var(--dark);
}
.menu-icon-active span:first-child {
  transform: rotate(45deg);
}
.menu-icon-active span:last-child {
  transform: rotate(-45deg);
}
.menu-icon-active span:nth-child(2) {
  display: none;
}
.close-mobile-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: grid;
  place-content: center;
  width: 34px;
  height: 34px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
}
.close-mobile-menu i {
  color: #ffffff;
  line-height: 1;
}
.header-menu .submenu {
  font-size: 0.9rem;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.primary-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--dark);
  padding: 1rem;
  transform: translateX(-100%);
  transition: all 0.3s linear;
  z-index: 100;
}
.active-menu {
  transform: translateX(0);
}
.region-primary-menu .menu,
.region-primary-menu .submenu {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.region-primary-menu .menu {
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  gap: 0;
}
.region-primary-menu .menu > li {
  border-bottom: 1px solid var(--text-color-light);
}
.region-primary-menu .menu a,
.region-primary-menu .menu li > span {
  display: block;
  color: var(--text-color-light);
  padding: 0.5rem 0;
}
.menu-item-has-children {
  position: relative;
}
.menu-item-has-children::after {
  position: absolute;
  content: '+';
  color: var(--color-primary);
  right: 0;
  top: 0.5rem;
}
.region-primary-menu .submenu {
  font-size: 0.9rem;
  padding: 0 0  0 1.5rem;
}
.region-primary-menu .submenu li {
  border-bottom: 1px solid var(--text-color-light);
}
.region-primary-menu .submenu li:last-child {
  border: 0;
}
.region-primary-menu .submenu li:first-child {
  border-top: 1px solid var(--text-color-light);
}
/* Page header */
.page-header {
  background-color: var(--light-secondary);
}
.page-header h1, 
.page-header h2,
.page-header h3 {
  line-height: 1;
  margin: 0;
}
.region-page-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 2rem 0;
}