.container {
  position: relative;
  width: 100%;
  max-width: 1260px;
  height: auto;
  margin: 0 auto;
  padding: 0 10px;
}
.full-width {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-wrapper {
  padding: 1.5rem 0;
}
.main-container {
  display: grid;
  width: 100%;
  gap: 1rem;
}
.no-sidebar .main-container,
.sidebar-left .main-container,
.sidebar-right .main-container,
.two-sidebar .main-container {
  grid-template-columns: 100%;
}
.page-content,
.sidebar {
  min-width: 0px;
}
