.region-sidebar-first,
.region-sidebar-second {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sidebar .block {
  background-color: var(--light-secondary);
  padding: 1rem;
}
.sidebar .block p:last-of-type,
.sidebar .block form:last-of-type {
  margin: 0;
}
/* form in sidebar */
.sidebar form,
.sidebar .form-search,
.sidebar .form-item,
.sidebar select {
  width: 100%;
}
/* sidebar typography */
.sidebar a {
  color: var(--dark);
}
.sidebar a:hover {
  color: var(--color-secondary);
}
.sidebar li {
  position: relative;
  padding: 8px 0;
  border-bottom: 1px solid var(--text-color-light);
}
.sidebar ul ul {
  padding-left: 0.5rem;
}
.sidebar li:last-child {
  border: 0;
}